In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('./data/data/data/train.csv')

In [3]:
train

       Id BldgType  OverallQual  GrLivArea  GarageArea  SalePrice
0       1     1Fam            7       1710         548     208500
1       2     1Fam            6       1262         460     181500
2       3     1Fam            7       1786         608     223500
3       4     1Fam            7       1717         642     140000
4       5     1Fam            8       2198         836     250000
..    ...      ...          ...        ...         ...        ...
995   996     1Fam            4       1230         305     121600
996   997     1Fam            5       1050         368     136500
997   998     1Fam            6       1442         615     185000
998   999     1Fam            3       1077         210      91000
999  1000     1Fam            7       1208         632     206000

[1000 rows x 6 columns]

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
onehot = OneHotEncoder(train['BldgType'])

In [11]:
onehot.categories

0      1Fam
1      1Fam
2      1Fam
3      1Fam
4      1Fam
       ...
995    1Fam
996    1Fam
997    1Fam
998    1Fam
999    1Fam
Name: BldgType, Length: 1000, dtype: object

In [66]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
# data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
data = train['BldgType'].tolist()
values = array(data)
print(values)
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0])])
print(inverted)

KeyError: 'BldgType'

In [67]:
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[1])])
inverted

array(['1Fam'], dtype='<U6')

In [73]:
label_encoder.inverse_transform([1])

array(['2FmCon'], dtype='<U6')

In [72]:
df2 = pd.DataFrame(onehot_encoded, columns=['1Fam', '2FmCon', 'Duplx', 'TwnhsE', 'TwnhsI'])

In [21]:
pd.merge(train, df2, on=index)

NameError: name 'index' is not defined

In [22]:
df2.join(train)

,1Fam,2FmCon,Duplx,TwnhsE,TwnhsI,Id,BldgType,OverallQual,GrLivArea,GarageArea,SalePrice
0,1.0,0.0,0.0,0.0,0.0,1,1Fam,7,1710,548,208500
1,1.0,0.0,0.0,0.0,0.0,2,1Fam,6,1262,460,181500
2,1.0,0.0,0.0,0.0,0.0,3,1Fam,7,1786,608,223500
3,1.0,0.0,0.0,0.0,0.0,4,1Fam,7,1717,642,140000
4,1.0,0.0,0.0,0.0,0.0,5,1Fam,8,2198,836,250000
...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,0.0,0.0,0.0,0.0,996,1Fam,4,1230,305,121600
996,1.0,0.0,0.0,0.0,0.0,997,1Fam,5,1050,368,136500
997,1.0,0.0,0.0,0.0,0.0,998,1Fam,6,1442,615,185000
998,1.0,0.0,0.0,0.0,0.0,999,1Fam,3,1077,210,91000
999,1.0,0.0,0.0,0.0,0.0,1000,1Fam,7,1208,632,206000

In [23]:
df2

     1Fam  2FmCon  Duplx  TwnhsE  TwnhsI
0     1.0     0.0    0.0     0.0     0.0
1     1.0     0.0    0.0     0.0     0.0
2     1.0     0.0    0.0     0.0     0.0
3     1.0     0.0    0.0     0.0     0.0
4     1.0     0.0    0.0     0.0     0.0
..    ...     ...    ...     ...     ...
995   1.0     0.0    0.0     0.0     0.0
996   1.0     0.0    0.0     0.0     0.0
997   1.0     0.0    0.0     0.0     0.0
998   1.0     0.0    0.0     0.0     0.0
999   1.0     0.0    0.0     0.0     0.0

[1000 rows x 5 columns]

In [27]:
train = train.join(df2)

ValueError: columns overlap but no suffix specified: Index(['1Fam', '2FmCon', 'Duplx', 'TwnhsE', 'TwnhsI'], dtype='object')

In [31]:
train = train.drop(columns=['BldgType'])

In [33]:
train_data = train[['OverallQual', 'GrLivArea', '1Fam', '2FmCon', 'Duplx', 'TwnhsE', 'TwnhsI']]
train_label = train[['SalePrice']]

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_data, train_label, test_size=0.1, random_state=40)

In [35]:
X_train

     OverallQual  GrLivArea  1Fam  2FmCon  Duplx  TwnhsE  TwnhsI
601            6       1375   1.0     0.0    0.0     0.0     0.0
396            5        894   1.0     0.0    0.0     0.0     0.0
269            6       1113   1.0     0.0    0.0     0.0     0.0
766            7       1714   1.0     0.0    0.0     0.0     0.0
345            6       1577   1.0     0.0    0.0     0.0     0.0
..           ...        ...   ...     ...    ...     ...     ...
440           10       2402   1.0     0.0    0.0     0.0     0.0
165            5       1355   0.0     1.0    0.0     0.0     0.0
7              7       2090   1.0     0.0    0.0     0.0     0.0
219            7       1248   0.0     0.0    0.0     1.0     0.0
326            8       1719   0.0     0.0    0.0     1.0     0.0

[750 rows x 7 columns]

In [37]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [40]:
model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [42]:
model.fit(X_train, y_train)

LinearRegression()

In [44]:
result = model.predict(X_test)

In [45]:
model.score(result,y_test)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 7 is different from 1)

In [46]:
from sklearn.metrics import mean_squared_error

In [47]:
mean_squared_error(result, y_test)

1247396621.3691864

In [48]:
y_test

     SalePrice
204     110000
71      129500
594     110000
672     165000
14      157000
..         ...
92      163500
894     118858
916      35311
236     185500
492     172785

[100 rows x 1 columns]

In [49]:
result

array([[133984.42652819],
       [ 74059.38728739],
       [112007.66255737],
       [162470.4839774 ],
       [165217.57947376],
       [246020.54448684],
       [271454.27360677],
       [224532.1530487 ],
       [292823.49100372],
       [ 75524.50488544],
       [231857.74103898],
       [126353.60570499],
       [192673.49080294],
       [199136.78134909],
       [173825.14536233],
       [207988.533504  ],
       [190938.87098466],
       [214482.15870834],
       [295911.25766133],
       [109565.79989394],
       [168208.86123645],
       [265494.39922765],
       [181433.46867523],
       [147475.71774361],
       [237474.02516485],
       [177121.85159392],
       [ 97966.95224268],
       [ 86390.79373768],
       [179502.47605479],
       [130687.91193257],
       [227340.29511164],
       [294774.06204247],
       [213971.09702939],
       [143019.31838286],
       [ 75219.27205251],
       [178119.09200169],
       [254444.97067565],
       [ 77477.99501618],
       [146519.65965661],
       [155389.08225347],
       [197671.66375103],
       [125214.40791823],
       [142042.57331749],
       [112251.84882371],
       [242601.93675804],
       [223069.95454263],
       [106086.14559857],
       [107597.26612887],
       [249866.47818173],
       [ 75219.27205251],
       [247424.61551831],
       [340963.62380152],
       [320718.85284136],
       [129711.1668672 ],
       [ 70579.73299201],
       [151360.00885882],
       [171017.00329939],
       [103544.87894824],
       [293064.75817808],
       [197453.08572294],
       [ 75219.27205251],
       [285128.70452195],
       [226607.73631261],
       [159440.84479439],
       [190938.87098466],
       [110542.54495931],
       [227218.20197847],
       [ 61567.5302836 ],
       [233322.85863703],
       [ 96219.29095796],
       [232834.48610435],
       [167171.0696045 ],
       [139966.99005358],
       [151626.88427143],
       [301000.81183421],
       [210392.03874711],
       [148307.87216551],
       [178464.68442283],
       [146315.83297848],
       [180845.50051967],
       [135391.41665164],
       [120065.80934667],
       [152703.22495967],
       [179319.33635503],
       [176083.86832599],
       [111397.19689151],
       [ 77050.66905008],
       [111153.01062517],
       [201273.41117959],
       [123606.51020864],
       [237535.07173144],
       [108344.86856223],
       [258390.30835745],
       [194214.69860192],
       [215619.3543272 ],
       [114449.52522079],
       [136525.88481449],
       [-14473.8025358 ],
       [208171.67320376],
       [177610.03249063]])

In [50]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: numpy in c:\users\fazam\appdata\local\continuum\anaconda3\envs\test\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\fazam\appdata\local\continuum\anaconda3\envs\test\lib\site-packages (from xgboost) (1.5.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1

In [51]:
import xgboost as xgb

In [52]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [53]:
xg_reg.fit(X_train, y_train)

[16:56:35] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[16:56:36] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=10, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [54]:
pred = xg_reg.predict(X_test)

In [55]:
pred

array([100002.38 ,  90505.484,  98541.44 , 112144.95 , 112144.95 ,
       133388.73 , 158806.03 , 130680.58 , 179278.3  ,  90505.484,
       133388.73 , 100002.38 ,  96445.664, 128803.805, 112144.95 ,
       129221.04 , 117650.79 , 116729.87 , 193015.56 ,  98541.44 ,
       112144.95 , 133388.73 ,  99809.61 , 101869.195, 133388.73 ,
        88721.055,  95835.83 ,  90670.66 , 112562.19 , 100002.38 ,
       130680.58 , 163909.1  , 130680.58 , 101869.195,  90505.484,
       116191.25 , 133388.73 ,  90505.484,  96272.805, 110153.07 ,
       128803.805,  93863.69 , 101869.195,  98541.44 , 133388.73 ,
       149035.73 ,  98541.44 ,  79718.17 , 133388.73 ,  90505.484,
       133388.73 , 207170.88 , 163909.1  , 100002.38 ,  90505.484,
       110153.07 , 112144.95 ,  90670.66 , 163909.1  , 122873.66 ,
        90505.484, 163909.1  , 130680.58 , 101869.195, 117650.79 ,
        98541.44 , 130680.58 ,  80951.086, 133388.73 ,  90670.66 ,
       133388.73 , 112144.95 , 100002.38 , 101869.195, 163909.1  ,
       116729.87 ,  87657.08 , 112562.19 , 101869.195, 114021.73 ,
       105921.75 , 100002.38 ,  88721.055, 112562.19 , 112562.19 ,
        98541.44 ,  90505.484,  98541.44 , 128803.805, 100002.38 ,
       133388.73 ,  98541.44 , 157160.67 , 114021.73 , 130680.58 ,
        98541.44 ,  87657.08 ,  71885.88 , 129221.04 , 112562.19 ],
      dtype=float32)

In [60]:
np.sqrt(mean_squared_error(pred, y_test))

69067.46287619113

In [59]:
y_train

     SalePrice
617     105500
710      52000
423     315000
336     377426
572     224500
..         ...
440     555000
165     127500
7       200000
219     167240
326     324000

[900 rows x 1 columns]

In [62]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(ranges=(0,1))

TypeError: __init__() got an unexpected keyword argument 'ranges'